<!-- <div *ngIf="qtyValue === 0">
    <h1> your cart is empty</h1>
</div> -->

<div class="checkout" >
    <div class="form">
        <h2>Shipping</h2>
        <form>
            <label>Name</label>  
            <input> 

            <label>Door Number</label> 
            <input>

            <label>Address</label>
            <input>

            <label>City</label> 
            <input>
            <button class="place-order" routerLink="/complete">Place Order</button>
        </form>
    </div>
    <div class="cart-detail">
        <h4>Order Summary</h4>
        <div class="container-1">
            <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="shoe">
            <h4>Fall Limited Edition Sneakers 
                <!-- <br> $125.00 x {{qtyValue}} - .00 -->
            </h4>
        </div>
        <!-- <div class="container-2">
            <h4>
                Order Total
            </h4>
            <h4>
                {{qtyValue * 125}}
            </h4>
        </div> -->
    </div>

</div>
 